(
    name: "Occult",
    foreground: "#E4DED2",
    cursor: "#E4DED2",
    bright_foreground: "#F2EADF",
    dim_foreground: "#3C3C4E",

    normal: (
        black: "#14141E",
        red: "#C25B5B",
        green: "#8BAA82",
        yellow: "#E6C27A",
        blue: "#6270A8",
        magenta: "#9A7398",
        cyan: "#95B3B0",
        white: "#E4DED2",
    ),

    bright: (
        black: "#252533",
        red: "#E08A66",
        green: "#A5C59D",
        yellow: "#FFF8F2",
        blue: "#7E8CC6",
        magenta: "#B68FB5",
        cyan: "#A7C8C5",
        white: "#F2EADF",
    ),

    dim: (
        black: "#1E1E2A",
        red: "#B86C6A",
        green: "#6E8C70",
        yellow: "#C8A85F",
        blue: "#44445A",
        magenta: "#7E5E7B",
        cyan: "#6E8987",
        white: "#3C3C4E",
    ),
)
