theme = "noctalia"

[editor]
line-number = "relative"
mouse = false
editor-config = false

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false
